@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}

:root{
    --black: #000000;
    --white: #FFFFFF;
    --green: #15FF15;
    --softblack: #0E1111;
}

/* INPUTS */
.inputs-template{
    border: 1.5px solid var(--green);
    border-radius: 15px;
    font-size: 1em;
    outline: none;
    background: transparent;
}

::placeholder {
    color: #8C8B91;
    font-size: 1em;
    letter-spacing: 0.5px;
}
.inputs-form{
    padding: 1em 0;
}
.inputs-form label{
    font-weight: 600;
    display: flex;
    color: var(--white);
    font-size: 1.3em;
    letter-spacing: 0.5px;
    justify-content: space-between;
    padding: 0.5em 0.5em;
}
.inputs-form span{
    color: var(--green);
    font-size: 15px;    
    margin-top: 3px;
}
/* FIM INPUTS */

/*Botão*/
.btn2 {
    font-size: 1.1em;
    font-weight: 400;
    text-decoration: none;
    background: var(--green);
    color: var(--black);
    border: 1px solid var(--green);
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 1s ease, color 1s ease-out;
}
.btn2:hover {
    text-decoration: none;
    color: var(--white);
    background: transparent;
    border: 1px solid var(--green);
}
/*Fim Botão*/


/* LOGIN */
.body-login{
    background-color: var(--softblack);
}
.container-login{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../svg/Headphone-bro.svg);
    background-size:80vh;
    background-repeat: no-repeat;
    background-position: bottom left;
    height: 100vh;
}
.content-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em 2em;
}
.input-login{
    padding: 1em 14em 1em 2.4em;
}  
.div-btn{
    padding: 1.5em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.span-btn{
    padding-bottom: 5px;
    color: var(--white);
}
.span-btn b{
    padding-bottom: 5px;
    color: var(--green);
}
.btn-login{
    font-weight: 600;
    letter-spacing: 1.5px;
    padding: 17px 80px;
    font-size: 1.1em;
}
a{
    text-decoration: none;
}
/* FIM LOGIN */


/* CADASTRO */
.container-cadastro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}
.bg-img-cadastro{
    background-image: url(../imgs/bg-cadastro3.png);
    background-size: cover;
}
.content-cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em 2em;
}
.content-cadastro label{
    display: flex;
}
.container-input{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
}
.input-nome{
    padding: 1em 3em 1em 2.4em;
}
.div-cadastro-bottom input{
    padding: 1em 23.9em 1em 2.4em;
}
.btn-registrar{
    font-weight: 600;
    letter-spacing: 1.5px;
    padding: 17px 80px;
    font-size: 1.1em;
}
/* FIM CADASTRO */



/* APLICAÇÃO */
.container-comunidade{
    display: flex;
    flex-direction: column;
    padding: 5em 0 0 20em;
}

.content-comunidade{
    background-color: var(--softblack);
    height: 600px;
    width: 1300px;
    border: 2px solid var(--green);
    border-radius: 30px;
    margin-top: 2em;
    padding: 2em 2em;
}
.input-comunidade{
    padding: 15px 50px;
    border-radius: 50px;
}
/* Nav */
.navbar-vertical {
    background: var(--softblack);
    height: 100vh;
    width: 15em;
    padding: 2rem 1rem;
    position: fixed;
    z-index: 99;
    border-right: 2px solid var(--green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-vertical {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.navbar-logo{
    padding: 1em 0;
    border-bottom: 1px solid var(--green);
}
.navbar-logo img {
    width: 10em;
}

.nav-link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: 0.8em;
    margin: 1em 0;
    cursor: pointer;
    /*Estilização*/
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 1px;
    color: #8C8B91;
    text-decoration: none;
    transition: 0.5s ease-in;
}
.nav-link:hover{
    color: var(--primary);
    transition: 0.5s ease-in;
}

