.body-contato{
}
.container-contato{
    background-image: url(../imgs/bg-contato.png);
    background-size: cover;
    height: 100vh;
}
.content-contato{
    padding-top: 120px; 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: var(--white);
}
.inputs-contato{
    display: grid;
    grid-template-columns: repeat(2, 19em);
    grid-gap: 3em 5em;
    padding: 2em;
}
textarea {
    color: var(--white);
    border: 1.5px solid var(--green);
    border-radius: 15px;
    font-size: 1em;
    outline: none;
    background: transparent;
    padding: 1em 2em 6.5em 1em;
}
.content-contato h1{
    font-size: 40px;
    font-family: 'Krona One', sans-serif;
}
.content-contato span{
    font-size: 40px;
    font-family: 'Krona One', sans-serif;
}
.div-but{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-form{
    letter-spacing: 0.5px;
    padding: 10px 30px;
}

/* SOBRE */
.container-sobre{
    background-image: url(../imgs/bg-contato.png);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8em 0 0 4em;
}
.content-sobre{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    padding-top: 100px;
    color: white;
}
.content-sobre h1{
    font-size: 40px;
    font-family: 'Krona One', sans-serif;
}
.img-sobre img{
    width: 500px;
}